cleaning:
  min_sentence_character_length: 15
  max_sentence_length: 128
  sentence_delim: "[.:]"
  remove_characters: '[^-.,:\sA-z0-9]+'
  replace_characters:
    1: ["[0-9]{3,}", "###"]
    2: ["[0-9]{2}", "##"]
    3: ["[0-9]", "#"]
    4: ['\s{2,}', " "]
  write_mode: w
transformation:
  instructions:
    - "Translate this Dutch geriatrics consult to English."
    - "We want to know whether the patient, based on this medical consult text, has an elevated risk for cardiovascular disease. Only respond with yes / no ."
  method:
    llm:
      #endpoint: https://api.openai.com/v1/chat/completions #https://gemini.googleapis.com/v1/chat/completions
      provider: openai #google
      model: gpt-4o-mini #unsloth/gemma-3-1b-it-GGUF #models/gemini-1.5-flash
      max_tokens: 8192
      system_prompt: "You are a faithful and truthful Dutch label extractor in the cardio/geriatrics domain. You are an expert in cardiovascular risk management. You assign people to the cardiovascular risk management regime based on the Dutch guidelines."
    ntm:
      model: nllb200
    out_per_instruction: True
  source_lang: en
  dest_lang: nl
  write_mode: w
  public_key_file: "/home/bramiozo/DEV/clinicalnlp-us.json"
  local_glossary_file: "config/glossary.csv"
